@import "../icons/css/all.css";
@font-face {
    font-family: iranSans;
    src: url(../fonts/IRANSansWeb.woff) format("woff");
}
.col-1 { width: 8.33%;}
.col-2 {width: 16.66%; }
.col-3 { width: 25%;}
.col-4 {width: 33.33%;}
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 {width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 {width: 83.33%;}
.col-11 { width: 91.66%; }
.col-12 {width: 100%; }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iranSans;
}
body{
    direction: rtl;
}

.section-p1{
    padding-top: 180px;
}

header{
    position: relative;
}
.sticky{
    position: fixed;
    z-index: 1;
    width: 100%;
  background-color: #fff;
}
.container{
    display: flex;
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 0.5%;
}
.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e9e9e9 ;
}
.header-button{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding-bottom: 3%;
}
.header-search{
    text-align: start;
}
.header-search form{
    width: 70%;
    background: #f6f6f6;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px;
}
.header-search button{
    background: transparent;
    border: none;
    color: #57574b;
}
.header-search input{
    background: transparent;
    border: none;
    outline: none;
    color: #57574b;
}
.header-button .user{
    border-radius: 10px !important;
    border: 1px solid #f6f6f6 ;
    background: #fff !important;
    box-shadow: 0 14px 22px -4px rgba(110, 110, 96, .2);
    color: #9e0065;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-button .user a{
    color: #9e0065;
}
.header-button .user i{
    font-size: 1.5em;
}
.header-button .shopping{
    border-radius: 10px !important;
    border: 1px solid #f6f6f6 !important;
    background: #9e0065 !important;
    box-shadow: 0 14px 22px -4px rgba(158, 0, 101, .2);
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-button .cart-icon p{
    color: #57574b;
    font-weight: 300;
    font-size: 1rem;
}
.header-button .cart-icon{
    cursor: pointer;
}

header .purple-line{
    display: flex;
    background: #9e0065;
    height: 5px;
    margin-top: 20px;
}

.menu-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1%;
}
.menu-container a{
    color: rgb(87, 87, 75);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
}
.menu-container .purple a{
    color: #c7007f
}
.menu-container a:hover{
    color: #c7007f
}
.menu-item{
    position: relative;
    display: inline-block;
    border-left: 1px solid #b2b2a6 ;
    padding: 0 12px;
    padding-bottom: 1%;
}
.menu-item i{
    font-size: 0.8em;
}
.menu-item:last-child {
    border-left: none;
}
.submenu{
    position: absolute;
    display: none;
    background: #ffe8f6;
    box-shadow:  0px 0px 45px 20px rgba(135, 126, 133, 0.3);
    z-index: 1;
    min-width: 230px ;
    height: 180px;
    top: 100%;
    right: 25%;
    border-radius: 5px;
}
.dropdown:hover .submenu{
    display: block;
}
.submenu-item {
    text-align: start;
    padding: 15px 25px ;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
   
    div#slider { 
    overflow: hidden;
    direction:ltr ; 
  
    
}
div#slider figure img {
    width: 20%; 
    float: left;
    border-radius: 10px;
    height: 400px;
}
div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
    cursor: pointer;
}

.left-slider{
    overflow: hidden;
    background-color: #fff;
    height: 190px;
    border-radius: 10px;
    cursor: pointer;
}
.left-slider img{
   width: 400px;
   border-radius: 10px;
   object-fit: cover;
   transition: transform 0.3s ease;
}
.left-slider:hover img{
    transform: scale(1.1);
}
#home-slider .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#animation{
    width: 90%;
    margin: auto;
    padding-top: 3%;
}
.box {
    position: relative;
    width: 250px;
    height: 30px;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box p{
        color: #6e6b7b;
        font-size: 1rem;
        font-weight: 500;
}
.border-trace {
    position: absolute;
    background-color: #afa534;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    animation: trace-border 4s infinite linear;
}
  
@keyframes trace-border {
    0% {
      top: 0;
      left: 0;
      width: 0;
      height: 4px;
    }
    24.99% { 
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
    }
    25% { 
      top: 0;
      left: calc(100% - 4px);
      width: 4px;
      height: 4px;
    }
    49.99% { 
      top: 0;
      left: calc(100% - 4px);
      width: 4px;
      height: 100%;
    }
    50% { 
      top: calc(100% - 4px);
      left: calc(100% - 4px);
      width: 4px;
      height: 4px;
    }
    74.99% { 
      top: calc(100% - 4px);
      left: 0;
      width: 100%;
      height: 4px;
    }
    75% { 
      top: calc(100% - 4px);
      left: 0;
      width: 4px;
      height: 4px;
    }
    99.99% {
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
    }
    100% { 
      top: 0;
      left: 0;
      width: 0;
      height: 4px;
    }
}
  
#category{
    padding-top: 2%;
}
#category h2{
    text-align: center;
    color: #6e6e60;
    font-weight: 700;
    padding-bottom: 10px;
}
#category .container-cat{
    display: flex;
    width: 40%;
    text-align: center;
    margin: auto;
    gap: 15px;
}
#category .small-cat{
    padding: 15px;
    background: #ffe8f6;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#category .small-cat:not(.purple):hover{
    transform: scale(1.05);
}
#category .small-cat p{
    color: #863199;
}
#category .purple{
    background: #9e0065
}
#category .purple p{
    color: #fff;
}
#category .container-cat h3{
    display: block;
}


#woman-cat {
    padding-top: 2%;
    display: flex;
    justify-content: center;
}
#woman-cat .slider-container {
    width: 90vw;
    overflow: hidden;
    position: relative;
    direction: rtl; 
    text-align: center;
    margin: auto;
}
#woman-cat .slider-track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: slide 48s ease-in-out infinite;
}
/*#woman-cat .slide:hover{
    transform: scale(1.1);
}*/
#woman-cat .slide{
   /* transition: transform 0.8s ease-out;*/
    cursor: pointer;
}
#woman-cat .slide img {
    width: calc((90vw - 7 * 20px) / 8);
    height: auto;
}
#woman-cat .slide h6{
    color: #57574b;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

@keyframes slide {
    0% { transform: translateX(0); }
    5% { transform: translateX(0); }
    10% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 1)); }
    15% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 1)); }
    20% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 2)); }
    25% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 2)); }
    30% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 3)); }
    35% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 3)); }
    40% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 4)); }
    45% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 4)); }
    50% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 5)); }
    55% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 5)); }
    60% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 6)); }
    65% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 6)); }
    70% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 7)); }
    75% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 7)); }
    80% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 8)); }
    85% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 8)); }
    90% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 9)); }
    95% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 9)); }
    100% { transform: translateX(calc(((90vw - 7 * 20px) / 8 + 20px) * 10)); }
}


#product{
    padding-top: 5%;
}
.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
}
.title h2{
    color: #6e6e60;
    font-weight: 700;
}
#product .banner-button{
    padding-top: 20%;
    padding-right: 10%;
}
.more-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    background: #ffe8f6;
    border: 1px solid #c7007f;
    padding: 10px 12px;
    border-radius: 46px;
}
.icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7007f;
    transform: rotate(-180deg);
}
.text-button{
    color: #c7007f;
}
.div-button{
    float: left;
}
.line {
    background: #f6f6f2;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    position: relative;
}
.line::before{
    content: " ";
    position: absolute;
    background: #b2b2a6;
    width: 5px;
    height: 5px;
    top: 50%;
    rotate: 45deg;
    right: 957px;
    transform: translateY(-70%);
}
.line::after{
    content: " ";
    position: absolute;
    background: #b2b2a6;
    width: 5px;
    height: 5px;
    top: 50%;
    rotate: 45deg;
    transform: translateY(-70%);
    left: 955px;
}
#product .product-container{
    display: flex;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 2%;
}
#product .banner-product{
    background-image: url(../images/offerBgWeb.121d4b9b.webp);
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 100% 100%;
    margin-left: 12px;
    height: 354px;
    position: relative;
}
#product .banner-product::before{
    content: " ";
    position: absolute;
    background-image: url(../images/offe-before.7245a0b5.webp);
    width: 70%;
    top: 80px;
    left: 50px;
    height: 40%;
    animation: percent 1s ease-in-out infinite ;
    background-repeat: no-repeat;
    background-size: 85% 100%;
}
@keyframes percent{
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.1);
}

100% {
    transform: scale(1);
}
}
#product .banner-text{
    padding-top: 85px;
    padding-left: 15px;
}
#product .banner-text p{
    font-weight: 900;
    color: #f6f6f6;
    font-size: 38px;
}

.banner-more-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 15px;
    border-radius: 10px;
}
.banner-icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: rotate(-180deg);
}
.banner-text-button{
    color: #fff;
    font-size: 15px;
}
#product .product-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#product .product-image{
    width: 280px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#product .product-image img{
    max-width: 100%; 
    max-height: 100%;
    height: auto;
    width: auto;
    transition: transform 0.5s ease;
}
#product .product-box{
    border: 1px solid #cecece;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.8s ease;
    overflow: hidden;
}
#product .product-box:hover .heart{
    opacity: 1;
}
#product .product-box:hover img{
    transform: scale(1.6);
}
#product .product-box:hover{
    transform: scale(0.95);
    border: solid 1px #ffea00ad;
}
#product .item-product{
    position: relative;
}
#product .heart{
    position: absolute;
    left: 220px;
    bottom: 80px;
    color: #cd1e04;
    font-size: 15px;
    opacity: 0;
}
#product .percent{
    position: absolute;
    left: 0px;
    bottom: 95px;
    background-color: #cd1e04;
    color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 0.8125rem;
}
#product .product-text h5{
    color: #6e6e60;
    text-align: start;
    font-size: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
#product .product-price{
    text-align: end;
    padding-left: 15px;
    padding-top: 15px;
}
#product .product-price p:nth-child(1){
    color: #c8c8bf;
   position: relative;
   font-size: 13px;
}
#product .product-price p:nth-child(1)::after{
    content: "";
    position: absolute;
    background-color:  #cd1e04;
    width: 70px;
    height: 1px;
    left: 8px;
    bottom: 10px;
}
#product .product-price p:nth-child(2){
   color: #2e3138;
   font-size: 15px;
   font-weight: bold;
   padding-top: 3px;
}

#banner-cart{
    padding-top: 5%;
}
 #banner-cart .banner-cart-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
}
#banner-cart .banner{
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.5s ease-in;
}
#banner-cart .banner img{
    width: 660px;
    height: 200px;
} 
.banner-cart-container .banner:hover img{
    transform: scale(1.05);
}


#brands {
    padding-top: 6%;
}
#brands .brands-tittle-container{
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}
#brands .brands-line1{
    background: #57574b;
    width: 40%;
    height: 1px;
}
#brands .brands-line2{
    background: #57574b;
    width: 40%;
    height: 1px;
}
#brands .brands-text h3{
    color: #6e6e60;
    font-weight: 700;
    font-size: 25px;
}
#brands .brands-box-container{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
}
#brands .brands-box{
    cursor: pointer;
    width: 170px;
    height: 150px;
    border: 1px solid #f6f6f6;
    box-shadow: 0 0 10px rgba(110, 110, 96, .1);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#brands .brands-box img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


#article{
    padding-top: 4%;
}
#article .line{
    background: #f6f6f2;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    position: relative;
}
#article .line::before {
    content: " ";
    position: absolute;
    background: #b2b2a6;
    width: 5px;
    height: 5px;
    top: 50%;
    rotate: 45deg;
    right: 1102px;
    transform: translateY(-70%);
}
#article .line::after {
    content: " ";
    position: absolute;
    background: #b2b2a6;
    width: 5px;
    height: 5px;
    top: 50%;
    rotate: 45deg;
    transform: translateY(-70%);
    left: 1098px;
}
.article-container{
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 2%;
    cursor: pointer;
}
.article-box:hover{
    border: 1px solid #6b6414 ;
    transform: scale(1.05);
}
.article-box{
    border-radius: 16px;
    border: 1px solid transparent;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
    transition: transform 0.5s ease-in-out;
}
.article-image{
    width: 360px;
    height: 360px;
    text-align: center;
    margin: auto;
    padding: 10px;
}
.article-image img{
    max-width: 100%; 
    max-height: 100%;
    height: auto;
    width: auto;
}
.article-title h5{
    font-size: 15px;
    color: #404036;
    text-align: start;
    letter-spacing: 1px;
    padding: 10px 20px;
}
.article-text p{
    font-size: 12px;
    color: #848477;
    padding: 0 20px;
    text-align: start;
}
.article-more-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    background: transparent;
    border: transparent;
    padding: 7px 15px;
    border-radius: 10px;
}
.article-icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6b6414;
    transform: rotate(-180deg);
}
.article-text-button{
    color: #6b6414;
    font-size: 15px;
}
.article-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.calender{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffbce;
    padding: 5px;
    border-radius: 10px;
    color: #6b6414 
}


footer{
    padding-top: 5%;
}
footer .footer-border{
    border-top: 3px solid #0d6356;
    background: #f9f9f9;
    border-radius: 0;
    padding-top: 2%;
}
footer .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
    gap: 50px;
    border-bottom: 2px solid #0d6356;
}
footer .footer-about-container{
    text-align: start;
    margin-bottom: 35%;
}
footer .footer-about-container h5{
    color: #57574b;
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 10px;
}
footer .social-icon{
    color: #57574b;
    font-size: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    padding-top: 15px;
    cursor: pointer;
}
footer .social-icon svg:hover{
    color: #9e0065;
}
footer .footer-about-container p{
    color: #57574b;
    text-align: justify;
}
footer .footer-link-container{
    text-align: start;
}
footer .footer-link-container h5{
    color: #57574b;
    font-size: 20px;
    padding-bottom: 10px;
}
footer .footer-link-container p{
    color: #57574b;
    padding-bottom: 10px;
    cursor: pointer;
}
footer .footer-border .footer-link-container p:hover{
    color: #9e0065;
}
footer .footer-product-container{
    text-align: start;
    margin-bottom: 175px;
}
footer .footer-product-container h5{
    color: #57574b;
    font-size: 20px;
    padding-bottom: 10px;
}
footer .footer-product-container p{
    color: #57574b;
    padding-bottom: 10px;
    cursor: pointer;
}
footer .footer-border .footer-product-container p:hover{
    color: #9e0065;
}
footer .footer-call-container{
    text-align: start;
    color: #57574b;
    margin-bottom: 220px;
}
footer .footer-call-container h5{
    color: #57574b;
    font-size: 20px;
    padding-bottom: 10px;
}
footer .footer-call-container p{
    color: #57574b;
    cursor: pointer;
}
footer .footer-call-container p:hover{
    color: #9e0065;
}
footer .footer-call-container svg:hover{
    color: #9e0065;
}
footer .call-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}
footer .footer-trust-container{
    text-align: start;
    margin-bottom: 135px;
    margin-right: 50px;
}
footer .footer-trust-container h5{
    color: #57574b;
    font-size: 20px;
    padding-bottom: 10px;
}
footer .trust1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}
footer .enamad{
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d6356;
    border-radius: 10px;
    padding: 5px 0;
    cursor: pointer;
}
footer .enamad img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
footer .zarin{
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d6356;
    border-radius: 10px;
    padding: 5px 0;
}
footer .zarin img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
footer .trust2{
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d6356;
    border-radius: 10px;
    padding: 5px 0;
}
footer .trust2 img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
footer .footer-law-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
    color: #57574b;
    font-size: 13px;
}
footer .footer-law-div span{
    color: #9e0065;
}


/* login page style */

#login-section{
    padding-top: 220px;
}
.login-container{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    text-align: center;
    box-shadow: 0 5px 20px 0 rgba(34, 41, 47, .1);
    border: 1px solid rgba(34, 41, 47, .2);
    border-radius: .358rem;
    overflow: hidden;
}
.login-container h5{
    color: #afa534 ;
    text-align: start;
    font-size: 14px;
    background-color: #f8f8f8;
    padding: 12px;
}
.login-container form{
    text-align: start;
    width: 90%;
    margin: auto;
}
.login-container label{
    display: block;
    color: #5e5873;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
}
.login-container input{
    padding: 10px;
    border: 1px solid #d8d6de;
    border-radius: .357rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 10px;
}
.login-container input:focus{
    border-color: #afa534; 
    box-shadow: 0px 0px 10px 0px rgba(175, 165, 52, 0.3); 
    outline: none; 
}
.login-container button{
    background-color: #afa534;
    color: #fff;
    border:1px solid #afa534;
    border-radius: .357rem;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}
.login-container button:hover{
    box-shadow: 0px 0px 10px 0px rgba(175, 165, 52, 0.3); 
}




/* about page  */

#about{
    padding-top: 270px;
}
#about .about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8%;
    width: 80%;
    margin: auto;
}
#about .about-text h2{
    color: #9e0065;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}
#about .about-text p{
    color: rgb(110, 110, 96);
    text-align: justify;
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: bold;
}


/*  call page  */

#call{
    padding-top: 190px;
}
#call .call-container{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
#call .icone{
    background: #afa534;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.3s ease;
}
#call .icone:hover{
    background: #9e0065;
}
#call .phone{
    display: flex;
    align-items: center;
    gap: 10px;
}
#call .phone a{
     color: #404036;
     text-decoration: none;
     font-size: 14px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 3px;
}
#call .phone span{
    font-weight: bold;
}
#call .social-media{
    margin-right: 30px;
}
#call .social-media h2{
    text-align: center;
    font-weight: 700;
    color: #57574b;
    letter-spacing: 1px;
}
#call .social-media-icone{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 40px;
}
#call .call-container-left{
    width: 45%;
}
#call .call-container-left h2{
    color: #6e6e60;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
#call form{
    padding-right: 20px;
}
#call .lable{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}
#call .text-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}
#call label{
    color: #5e5873;
    font-size: .857rem;
    font-weight: 600;
    padding-bottom: 5px;
}
#call textarea{
    width: 100%;
    padding: .438rem 1rem;
    color: #6e6b7b;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #d8d6de;
    border-radius: .357rem;
    background: #fafafa;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#call textarea:focus{
    border-color: #afa534; 
    box-shadow: 0px 0px 10px 0px rgba(175, 165, 52, 0.3); 
    outline: none; 
}
#call .textarea-lable{
    color: #5e5873;
    font-size: .857rem;
    font-weight: 600;
    padding-bottom: 5px;
}
#call i{
    color: #cd1e04;
    font-size: 8px;
}
#call input{
    width: 100%;
    padding: .438rem 1rem;
    color: #6e6b7b;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #d8d6de;
    border-radius: .357rem;
    background: #fafafa;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#call input:focus{
    border-color: #afa534; 
    box-shadow: 0px 0px 10px 0px rgba(175, 165, 52, 0.3); 
    outline: none; 
}
#call .flex{
    width: 100%;
}
#call .call-container-left button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border:1px solid #afa534 ;
    background-color: #afa534;
    border-radius: .357rem;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}